* {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}

body{
    font-family: proxima-nova, sans-serif !important;
font-style: normal;
background-color: #fafafa !important;
}

.profile-img{
    text-align: center;

}
.pf-hd-img{
    width: 150px !important;
    height: 150px !important;;
}

.verified-img{
    background-image: url(./img/PinClipart.com_mesopotamia-clip-art_595548.png);
    height: 20px;
    width: 20px;
    background-size: 100%;
}

.pf-name{
    font-size: 1.75rem;
    line-height: 32px;
    font-weight: 300;
}
.btn-pf-1{
    margin: 0 6px 0 6px;
}
.btn-pf-2{
    margin: 0 6px 0 6px;
}

.list-pf{
    list-style: none;
    display: flex;
    padding: 0;
    color: black;
}
.list-pf > li {
    font-size: 16px;
    margin-right: 40px
}
.usr-name{
    font-weight: 600;
    font-size: 1rem !important;
    line-height: 24px;
}
.usd-1{
    font-weight: 400;
    color: #262626;
    font-size: 1rem !important;
    line-height: 24px;
}
.foll-usp{
    font-size: 12px;
    margin-right: 14px;
    color : #999;
    margin-top: 2%;
}
.foll-usp > span {
    color :#262626;
}