* {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}

body{
    font-family: proxima-nova, sans-serif !important;
font-style: normal;
background-color: #fafafa !important;
}

.profile-img{
    text-align: center;

}
.pf-hd-img{
    width: 150px !important;
    height: 150px !important;;
}

.verified-img{
    background-image: url(./img/PinClipart.com_mesopotamia-clip-art_595548.png);
    height: 20px;
    width: 20px;
    background-size: 100%;
}

.pf-name{
    font-size: 1.75rem  ;
    line-height: 32px;
    font-weight: 300;
}
.btn-pf-1{
    margin: 0 6px 0 6px;
    font-weight: 600 !important;
}
.btn-pf-2{
    margin: 0 6px 0 6px;
}

.list-pf{
    list-style: none;
    display: flex;
    padding: 0;
    color: black;
}
.list-pf > li {
    font-size: 16px;
    margin-right: 40px
}
.usr-name{
    font-weight: 600;
    font-size: 1rem !important;
    line-height: 24px;
}
.usd-1{
    font-weight: 400;
    color: #262626;
    font-size: 1rem !important;
    line-height: 24px;
}
.foll-usp{
    font-size: 12px;
    margin-right: 14px;
    color : #999;
    margin-top: 2%;
}
.foll-usp > span {
    color :#262626;
}
.usr-tab-main{
    text-align: center;
    color: #999;
}
.ant-tabs-nav .ant-tabs-tab:active{
    color: #262626 !important;
}
.ant-tabs-nav .ant-tabs-tab:hover{
    color: #999 !important;
}

.ant-tabs-nav .ant-tabs-tab-active{
    color: #262626 !important;
}
.ant-tabs-tab{
    color: #999;
}

.ant-tabs-ink-bar{
    top : 1px !important;
    height: 1px !important;
    background-color: #262626 !important;
}
.ant-tabs-bar{
    border-top: 1px solid #efefef !important;
    border-bottom: none !important;
}

.tab-fnt{
    font-size: .75rem;

}
.ant-tabs-nav .ant-tabs-tab{
    margin : 0 !important;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    object-fit: cover;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    /* background-color: #4CAF50; */
    color: white;
    /* font-size: 16px; */
    /* padding: 16px 32px; */
    width: 100%;
  }

  .text > span {
      padding-left: 5%;
      padding-right: 8%;
      font-size: 1rem;
      font-weight: 600;
  }

  .text > i {
    font-size: 1.3rem;
  }

  .stry-main{
      display: flex;
        list-style: none;
    overflow: auto;
  }

  .stry-prf{
      height: 87px !important;
      width: 87px !important;
      border :5px #e2e2e2 solid

  }

  .stry-main > li{
    margin-left: 3% !important;
    margin-right: 3% !important;
}

/* ****************************** */

/* ::-webkit-scrollbar {
    width: 0px; 
    } */

/* ****************************** */

.str-txt{
    text-align: center;
    font-size: 0.875rem;
    font-weight: 600;
    padding: 15% 0 0% 0;
}

.btn-pf-3 {
    background-color: transparent !important;
    border : none !important;
    box-shadow: none !important
}

.btn-pf-3 > i {
    color: black;
    font-size: 1.3rem !important;
}
.hdr-icon{
    font-size: 1.5rem;
    color: #262626;
    /* flex: 0 0 0; */
}
.hdr-icon-2{
    font-size: 1.5rem;
    color: #262626;
    font-weight: 200;
    flex: 1 0 0; 
}
.hdr-ic-2{
        font-size: 2rem;
    font-weight: 400;
    padding: 0 2% 0 2%;
}
.hdr-ic-3{
    background-image: url(./img/instagram-logo-text-black-png.png);
    background-size: 100%;
    height: 100%;
    width: 10%;
    background-repeat: no-repeat;
    background-position: center;
    flex: 2 0 0;
}
.hdr-ic-4{
    margin-left: 15%;   
    flex: 5 1 auto; 
}
.hdr-ic-4 > span> input {
    background-color: #fafafa;
    height: 28px;
}

.row-main{
    margin-top: 10%;
}

.display-mob-hdr{
    display: none !important;
}
.stry-main-sty{
    margin-top: 3%;
}
.ant-layout-header{
    border-bottom: 1px solid rgba(0,0,0,.0975);
}

@media (min-width: 768px) and (max-width: 1024px) {
    .ant-layout-header{
        padding: 0px 15px !important;
    }
    .hdr-icon > i {
        font-size: 1.6rem !important;
    }
    .hdr-icon > i {
        flex: 1 0 0px !important;
    }
    .hdr-ic-3{
        flex: 2 0 !important;
    }
    .hdr-ic-4 {
        margin-left: 12% !important;
        flex: 2 1 auto !important;
    }
    .row-main{
        margin-top: 18%;
    }
  }

  @media (max-width: 767px) {
  
    .ant-layout-header{
        padding: 0px 5px !important;
    }
    .hdr-ic-4{
        display: block;
    }
    /* .mob-width{
        box-sizing: border-box;
        width: 33.33333333%;
    } */
    .row-main{
        margin-top: 25%;
    }
    .pf-hd-img{
        width: 77px!important;
        height: 77px !important;
    }
    .display-mob-hdr{
        display: flex !important;
    }
    .display-mob-hide{
        display: none !important;
    }
    .stry-main-sty{
        margin-top: 4%;
    }
    .stry-prf{
        height: 64px !important;
        width: 64px !important;
    }
    .stry-main{

    padding: 0;
    }
    .str-txt{
        font-size: 0.75rem; 
        font-weight: 400; 
    }
    .stry-main > li {
        margin-left: 2% !important;
        margin-right: 2% !important;
    }
    .hdr-ic-3 {
        flex: 2 0 0;
        margin-right: 30%;
    }
    .hdr-icon{
        margin-left: 4% !important;
    }
  }